<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @kuldevi_matum.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @kuldevi_matum.address1 %>
</p>

<p>
  <b>Street:</b>
  <%= @kuldevi_matum.street %>
</p>

<p>
  <b>City:</b>
  <%= @kuldevi_matum.city %>
</p>

<p>
  <b>State:</b>
  <%= @kuldevi_matum.state %>
</p>

<p>
  <b>Country:</b>
  <%= @kuldevi_matum.country %>
</p>

<p>
  <b>How to reach:</b>
  <%= @kuldevi_matum.how_to_reach %>
</p>

<p>
  <b>Contact details:</b>
  <%= @kuldevi_matum.contact_details %>
</p>

<p>
  <b>Website:</b>
  <%= @kuldevi_matum.website %>
</p>


<%= link_to 'Edit', edit_kuldevi_matum_path(@kuldevi_matum) %> |
<%= link_to 'Back', kuldevi_mata_path %>
