
<h1 style="text-align:center" class="well">Gotras List</h1>
<hr>
  <div class="table-responsive">
          
  <table class="table table-hover table-bordered table-striped">  <tr>
    <th>Surname</th>
    <th>Gotra</th>
    <th>Kuldevi matha</th>
    <th>Location</th>
  </tr>

<% @gotras.each do |gotra| %>
  <tr>
    <td><%= gotra.surname %></td>
    <td><%= gotra.gotra %></td>
    <td><a href="http://<%= gotra.website%>" target="_blank" > <%= gotra.kuldevi_matha %></a></td>
    <td><%= gotra.location %></td>
  </tr>
<% end %>
</table>

</div>
<br />

